@import "tailwindcss";
@plugin "daisyui";

/* Arabic Font - Amiri */
.font-arabic {
  font-family: 'Amiri', serif;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */    
		color-scheme: light;
		--color-base-100: #ffffff;
		--color-base-200: #f8f9fa;
		--color-base-300: #e9ecef;
		--color-base-content: #212529;
		--color-primary: #006400;
		--color-primary-content: #e8f5e9;
		--color-secondary: #f6d860;
		--color-secondary-content: #3a2a00;
		--color-accent: #37cdbe;
		--color-accent-content: #06241f;
		--color-neutral: #3d4451;
		--color-neutral-content: #f9fafb;
		--color-info: #0dcaf0;
		--color-info-content: #05202a;
		--color-success: #198754;
		--color-success-content: #e9f7ef;
		--color-warning: #ffc107;
		--color-warning-content: #3f2d00;
		--color-error: #dc3545;
		--color-error-content: #fff5f5;
		--radius-selector: 0.5rem;
		--radius-field: 0.25rem;
		--radius-box: 0.5rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1px;
		--depth: 1;
		--noise: 0;
	}

	@media (prefers-color-scheme: dark) {
		:root:not([data-theme]) {
			color-scheme: dark;
			--color-base-100: #1f2937;
			--color-base-200: #111827;
			--color-base-300: #374151;
			--color-base-content: #f9fafb;
			--color-primary: #006400;
			--color-primary-content: #d1f2d1;
			--color-secondary: #f6d860;
			--color-secondary-content: #2c2100;
			--color-accent: #37cdbe;
			--color-accent-content: #05201b;
			--color-neutral: #2a2e37;
			--color-neutral-content: #f3f4f6;
			--color-info: #0dcaf0;
			--color-info-content: #051c25;
			--color-success: #198754;
			--color-success-content: #d8f0e2;
			--color-warning: #ffc107;
			--color-warning-content: #312200;
			--color-error: #dc3545;
			--color-error-content: #fde8ea;
			--radius-selector: 0.5rem;
			--radius-field: 0.25rem;
			--radius-box: 0.5rem;
			--size-selector: 0.25rem;
			--size-field: 0.25rem;
			--border: 1px;
			--depth: 1;
			--noise: 0;
		}
	}

	:root:has(input.theme-controller[value=dark]:checked),
	[data-theme=dark] {
		color-scheme: dark;
		--color-base-100: #1f2937;
		--color-base-200: #111827;
		--color-base-300: #374151;
		--color-base-content: #f9fafb;
		--color-primary: #006400;
		--color-primary-content: #d1f2d1;
		--color-secondary: #f6d860;
		--color-secondary-content: #2c2100;
		--color-accent: #37cdbe;
		--color-accent-content: #05201b;
		--color-neutral: #2a2e37;
		--color-neutral-content: #f3f4f6;
		--color-info: #0dcaf0;
		--color-info-content: #051c25;
		--color-success: #198754;
		--color-success-content: #d8f0e2;
		--color-warning: #ffc107;
		--color-warning-content: #312200;
		--color-error: #dc3545;
		--color-error-content: #fde8ea;
		--radius-selector: 0.5rem;
		--radius-field: 0.25rem;
		--radius-box: 0.5rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 1px;
		--depth: 1;
		--noise: 0;
	}
